* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
    text-align: center;
}

.wrapping {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    width: 400px;
    height: 400px;
}

img.odin {
    width: 500px;
    height: 300px;
}

/* Headers */

h1 {
    margin: 10px auto 10px auto;
    padding: 10px;
    border: 3px dotted;
    width: 500px;    
}

h2 {
    padding: 10px;
    margin: 5px;
}

/* */


button {
    font-size: 18px;
    padding: 10px;
    margin: auto;
}

.container {
    text-align: left;
}

li {
    padding: 12px;
    line-height: 30px;
    text-justify: auto;
}




